html {
    overflow-x: hidden;
}

.button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 2%;
    right: 5%;
    background: #fff;
    margin: 30px auto;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
}

.button::before {
    content: '';
    width: 0;
    height: 0;
    background: #663399;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 0;
    transition: width .5s, height .5s;
}

.button::after {
    content: '';
    width: 0;
    height: 0;
    background: #663399;
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: 0;
    transition: width .5s, height .5s;
}

.button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.button:hover::before {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.button__content {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    z-index: 1;
    background: #fff;
}

@media screen and (max-width: 700px) {
    .button {
        width: 100px;
        height: 30px;
        position: absolute;
        top: 10%;
        right: 5%;
        background: #fff;
        margin: 30px auto;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
    }

    .button__content {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 10px;
        z-index: 1;
        background: #fff;
    }
}

#app {
    width: 100vw;
    height: 100%;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
    background-size: 5px 5px;
    background-repeat: repeat;
}

h1 {
    font-size: 30px;
    margin: 50px auto 0;
    text-align: center;
    color: #595656;
    font-weight: 500;
    width: 30%;
    padding-bottom: 15px;
    border-bottom: 1px dashed #663399;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 18px;
        margin: 50px auto 0;
        text-align: center;
        color: #595656;
        font-weight: 500;
        width: 50%;
        padding-bottom: 15px;
        border-bottom: 1px dashed #663399;
    }
}

.main-ul {
    margin-top: 50px;
    padding: 0 100px;
}

@media screen and (max-width: 700px) {
    .main-ul {
        margin-top: 50px;
        padding: 0 20px;
    }
}

.main-ul-li {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #663399;
    display: flex;
    align-items: center;
}

.vam {
    font-size: 18px;
    color: #663399;
    padding-right: 10px;
}

.content-1 {
    padding: 10px 0 0 0;
}

.content-1-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-1-ul-li {
    width: 300px;
    padding-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

h3 {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: rgba(96, 94, 98, 0.74);
}

.content-vam {
    font-size: 15px;
    color: rgba(96, 94, 98, 0.74);
    padding-right: 10px;
}

.content-2 {
    padding: 10px 0 0 0;
}

.content-2-ul {

}

.content-2-ul-li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(96, 94, 98, 0.74);
}

.content-2-ul-li-span {
    color: #663399;
    margin-right: 10px;
}

.content-3 {
    padding: 10px 0 0 0;
}

.content-3-ul {
    position: relative;
}

.content-3-ul-li {
    margin-bottom: 10px;
}

.content-3-ul::before {
    content: '';
    height: 75%;
    border: 1px dashed #663399;
    position: absolute;
    left: 0.8%;
    top: 3%;
    z-index: -1;
}

@media screen and (max-width: 700px) {
    .content-3-ul::before {
        content: '';
        height: 81%;
        border: 1px dashed #663399;
        position: absolute;
        left: 2.8%;
        top: 1%;
        z-index: -1;
    }
}

.content-3-ul-li-span {
    margin-right: 10px;
}

.content-3-ul-li-eyeshadow {
    margin-left: 35px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(96, 94, 98, 0.74);
    line-height: 30px;
}

.content-4 {
    padding: 10px 0 0 0;
}

.content-4-ul {
    position: relative;
}

.content-4-ul-li {
    background-color: #fff;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(119, 116, 116, 0.26);
}

.content-4-ul-li-tag {
    font-size: 15px;
    font-weight: 500;
    color: rgba(96, 94, 98, 0.74);
    margin-left: 35px;
    line-height: 30px;
}

.content-4-ul-li-eyeshadow {
    margin-left: 35px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(96, 94, 98, 0.74);
    line-height: 30px;
    padding-right: 10px;
}
